Control Flows

In [2]:
val = input('Enter a number ')
value_float = float(val)
print(value_float)

3242.0

In [5]:
val = input('Enter a number ')
value_float = float(val)
print(value_float)
if(value_float > 100):
    print('The number is greater than 100')

101.0
The number is greater than 100

EVEN NUMBER

In [8]:
val = input('Enter a number ')
value_float = float(val)
print(value_float)
if(value_float%2==0):
    print('The number is Even')
else:
    print('The number is odd')

11.0
The number is odd

Loops

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [13]:
#strings........
str ='Talib Sayyed'
for i in (str):
    print(i)

T
a
l
i
b

S
a
y
y
e
d

#### While Loop

It continues to execute as long as the condition is true

In [14]:
count = 0
while count<5:
    print(count)
    count = count+1

0
1
2
3
4

Loop Control Statements

In [15]:
#Break
#The break statement exits the loop premaurely
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [19]:
#Continue
#Continue statement skips the current iteration and continues with the next 
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [20]:
#Pass
#The past statement is the null operation and it does nothing 
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [21]:
#Nested loops
#Its a loop inside a loop
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [23]:
#Examples- Calculate the sum of first N natural numbers using a while and for loop
# while
n=10    
sum=0
count=1
 
while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural numbers:",sum)

Sum of first 10 natural numbers: 55

In [25]:
#for  
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [26]:
#Example- Prime number between 1 to 100
#Prime number is which is divisible by 1 or the number itself
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97