##### Sets

Sets are built in data types in python used to store collections of unique items. They are unordered meaning that the elements do not follow a specific order and they do not allow duplicate elements. sets are useful for membership tests, eliminating duplicate entries and performing mathematical set operation like union, intersection, difference and symmetric difference

In [13]:
myset= {1,2,4,5,6}
print(myset)
print(type(myset))

{1, 2, 4, 5, 6}
<class 'set'>

In [11]:
emptyset= set([5,7,9,0,10])
print(type(emptyset))
#its giving error here but its running on jupyter

TypeError: 'set' object is not callable

In [18]:
#basic set operation 
#adding and removing elements 
myset.add(7)
print(myset)

{1, 2, 4, 5, 6, 7}

In [19]:
#remove the elements from a set
myset.remove(5)

In [20]:
myset

{1, 2, 4, 6, 7}

In [21]:
myset.remove(10)

KeyError: 10

In [22]:
myset.discard(10)
#this will not give error

In [24]:
#pop method
removed_element = myset.pop()
print(removed_element)
myset

2

{4, 6, 7}

In [25]:
#clear all the elements of a set
myset.clear()
print(myset)

set()

In [27]:
#set membership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [30]:
#mathematical operations
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

#union
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
#intersection
intersection = set1.intersection(set2)
print(intersection)

{4, 5, 6}

In [34]:
##Difference 
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 3}
{8, 9, 7}

In [35]:
#Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [39]:
#set methonds
#is subset
set1 = {1,2,3,4,5,6}
set2 = {4,5,6}
print(set1.issubset(set2))
#Is superset
print(set1.issuperset(set2))

False
True

In [42]:
 ###Counting unique words in text
text = 'In this tutorial we are discussing about sets'
words = text.split()

#convert list of words to set to get unique words

unique_words = set(words)
print(unique_words)
# its not working here but working on jupyter

TypeError: 'set' object is not callable