In [2]:
#Creating a tuple
emp_tup= ()
print(emp_tup)
print(type(emp_tup))

()
<class 'tuple'>

In [15]:
num1 = tuple([1,2,3,4,5,6])
num1

(1, 2, 3, 4, 5, 6)

In [5]:
num1 = list(num1) #tuple can be converted to list
num1

[1, 2, 3, 4, 5, 6]

In [6]:
num1= tuple(num1) #and list can also be converted to list
num1

(1, 2, 3, 4, 5, 6)

In [7]:
mixtup = (1,'Hello world', 3.14, True)
print(mixtup)

(1, 'Hello world', 3.14, True)

In [14]:
#Accessing tuple elements 
mixtup[1]

'Hello world'

In [16]:
#tuple operations
t1 = num1 + mixtup

In [17]:
t1

(1, 2, 3, 4, 5, 6, 1, 'Hello world', 3.14, True)

In [18]:
mixtup * 3

(1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True)

In [19]:
#immmutable nature of tuples
#tuples are immutable, meaning their elements cannot be changed once assigned

In [22]:
#Tuple methods  
#count and Index 
print(num1.count(4)) #used to count the occurance 
print(num1.index(3)) #used to display the index of the first occurance

1
2

In [23]:
#packing and unpacking a tuple
pack = 23, 'Talib', 3.14
print(pack)

(23, 'Talib', 3.14)

In [24]:
#unpacking a tuple
a,b,c=pack
print(a)
print(b)
print(c)

23
Talib
3.14

In [25]:
#Nested Lists
#Nested tuples
lst=[[1,2,3,4],[6,7,8,9],[25,'talib',3.14]]
lst[0]

[1, 2, 3, 4]

In [27]:
lst[1][1:3]

[7, 8]

In [29]:
#you can also have a list inside a tuple
lst2=[[1,2,3,4],[6,7,8,9],(25,'talib',3.14)]
lst2[2][0:3]

(25, 'talib', 3.14)

In [33]:
#nested tuple
nest_tup=((5,6,7),('a','b','c'),(True,False))
print(nest_tup[1][2])

c

In [39]:
#iterating over nested tuple
for i in nest_tup:
    for j in i:
        print(j,end=' ')
    print()

5 6 7
a b c
True False